.example-icon {
    padding: 0 28px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }


  .example-form {
    min-width: 50px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-mid-width {
    width: 50%;
    text-align: left;
  }

  .format-text-right{
    text-align: right;
    padding-left: 350px;
  }

  .align-center{
    margin: auto;
    width: 50%;
    padding: 1px;
}


.align-button-right{
    /* left: 500px; */
    background-color:gold;
    color: white;
}

.text-area{
  width: 350px;
  font-size: 11px;
  /* line-height: 0.7; */
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0px;
}

.text-color{
  color: darkorchid;
}

.font-title{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}